# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual environments
venv/
.venv/
env/

# Dependencies and build outputs
node_modules/
build/
dist/
.DS_Store
